<link rel="stylesheet" href="styles/default.css">

<footer class="site-footer">

<div class="footer-pixel">
    ■ ■ ■ ■
</div>

<p>
    Designed by
    <a href="chiboubwebsolutions.com/">Chiboub Web Solutions</a>
    &copy; 2026
</p>

<div class="footer-links">
    <a href="https://webpages.charlotte.edu/ychiboub/" target="_blank">
        CLT Web
    </a>

    <span>|</span>

    <a href="https://yasminemya.github.io/resumeWeb/" target="_blank">
        GitHub.io
    </a>

    <span>|</span>

    <a href="https://github.com/yasminemya" target="_blank">
        GitHub
    </a>

    <span>|</span>

    <a href="https://www.freecodecamp.org/yasminemya" target="_blank">
        freeCodeCamp
    </a>

    <span>|</span>

    <a href="https://www.codecademy.com/profiles/yasminemya" target="_blank">
        Codecademy
    </a>

    <span>|</span>

    <a href="https://www.linkedin.com/in/yasmine-chiboub/" target="_blank">
        LinkedIn
    </a>
</div>

<p class="footer-small">
    Designed by Yasmine Chiboub
</p>

</footer>
